body {
	margin: 0;
	padding: 0;
	background: black;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%; height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;
}

canvas {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	opacity: 0;
	cursor: ew-resize;
	z-index: 100;
}

#splash {
	opacity: 0;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}

#splash img {
	width: 100%;
}

#game {
	position: absolute;
	width: 100%; height: 100%;
}

#game .timer {
	position: absolute;
	left: 50%;
	top: 20px;
	z-index: 102;
	font-size: 18px;
	color: white;
	text-shadow: 0 0 3px black;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#instructions {
	position: absolute;
	z-index: 101;
	top: 60px;
	width: 100%;
	text-align: center;
	opacity: 0; visibility: hidden;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0 0 2px black;
}

#game-over {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	overflow-y: scroll;

	background: black;
	opacity: 0; visibility: hidden;
	z-index: 100;
	color: white;
	padding: 40px;
	line-height: 1.5;
}

#game-over .wrapper {
	max-width: 600px;
	position: relative;
	margin: 0 auto;
}


#game-over .buttons {
	text-align: center;
}

#game-over .buttons .btn {
	border: 1px solid rgba(255, 255, 255, .3);
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	color: red;
	margin-bottom: 15px;
}

#game-over .about {
}

#game-over .storyboards {
	position: relative;
	pointer-events: none;
}

#game-over .storyboards img {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	visibility: hidden;
}
#game-over .storyboards img:first-child {
	visibility: visible;
}
